#site-footer {
  background: #232323;
  color: white;
  padding-top: 50px;
  h3, h4, a {
    color: white;
  }
  a {
    text-decoration: underline;
  }
  .company-description {
    margin-top: 50px;
    text-align: center;
  }
  .contact-details {
    text-align: right;
  }
  .footnote {
    margin-top: 35px;
    text-align: center;
    color: #666;
    margin-bottom: 35px;
  }
}