#site-header {
  background: #232323;
  color: white;
  height: 135px;
  padding-top: 32px;
  nav.top-bar {
    background: #232323;
    text-transform: uppercase;
    overflow: visible;
    a {
      background: #232323;
      text-decoration: none;
      color: white;
    }
  }
}